@model IEnumerable<Web.Models.AdvertisingViewModel>


@{
    ViewBag.Title = "Search";
}

<h2>SearchResult</h2>

<div id="results">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (item != null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @if (item.Type == "polygraphy")
                        {
                            @Html.ActionLink("PolygraphyOrder", "MakePolygraphyOrder", new { id = item.ID })
                        }
                        else
                        {
                            @Html.ActionLink("Order", "MakeOrder", new { id = item.ID })
                        }

                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditAd", new { id = item.ID })
                    </td>
                </tr>
            }
        }

    </table>
</div>